.card {
    width: 250px;
    height: 360px;
    border: solid rgb(184, 202, 230) 5px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0 auto;
}

.card-headline {
    color: rgb(46, 82, 139);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-description {
    color: rgb(70, 77, 88);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-dates {
    color: rgb(70, 77, 88);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-price {
    color: rgb(46, 82, 139);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
}

.card-image-div {
    margin-top: 10px;
}

.card-image {
    border-radius: 8px;
    width:250px;
    height:180px
}

.card-followers{
    color: rgb(48, 175, 80);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
}
.card-like-icon{
    color:   rgb(184, 202, 230);
    
}
.card-like-icon:hover{
    color: red;
    cursor: pointer;
}

.card-trash-icon{
    color:   rgb(184, 202, 230);
    margin-left: 10px;
    
}
.card-trash-icon:hover{
    color: red;
    cursor: pointer;
}

.heart-on{
    color:   red;
    margin-left: 10px;
    
}
.heart-on:hover{
    color:  rgb(184, 202, 230);
    margin-left: 10px;
    
}
.card-pencil-icon{
    color:   rgb(184, 202, 230);
    
}
.card-pencil-icon:hover{
    color: rgb(114, 218, 114);
    cursor: pointer;
}